export FUTR_HUB_ACN_SSHKEY_PATH=$HOME/.ssh/
export FUTR_HUB_ACN_SSHKEY=<filename>
export LDAP_ADMIN_USERNAME=<admin_username>
export LDAP_ADMIN_PASSWORD=<secure_admin_password>
export LDAP_USERS=<username>
export LDAP_PASSWORDS=<secure_password>